# Create .env, copy this to .env and fill in your own file paths.
# .env itself is gitignored, this file is not.

# single mode 
# EXEGESIS_BIN="$HOME/projects/llvm-project/build/bin/llvm-exegesis"
# MCPU="native"
# EXEGESIS_MODE="latency"
# OPCODE="ADD64rr"
# LABEL="Build"
# RUNS=50

# compare mode 
EXEGESIS_BINA="$HOME/llvm-project/build-raw/bin/llvm-exegesis"
--mcpuA=native
--modeA=latency
--opcode-nameA=ADD64rr
LABELA="Version A"

EXEGESIS_BINB="$HOME/llvm-project/build-symbolic/bin/llvm-exegesis"
--mcpuB=native
--modeB=latency
--opcode-nameB=ADD64rr
LABELB="Version B"

# N of runs
RUNS=50

# sequential | cycling | random interleaving
METHODOLOGY="random interleaving"

# milliseconds between runs
COOLDOWNTIMER=50
