/config.yaml

# Output directories
results/*
results/examples/
results/emamples/**

# User built configs
configs/custom/
configs/sweep/buckets/
*configs/sweep/sweep.yaml

# Go build
dist/
/benchwire

# Python
__pycache__/
*.pyc
*.pyo

# Random
TODO.md
